// .container {
//     padding-right: 349px;
//     padding-left: 15px;
//     margin-right: auto;
//     margin-left: auto;
// }
/*
Form Input:
Styles for the form input and button
*/
form {
  position: relative;
}
// form input{
//   width: 58%;
//   /* display: block; */
//   /* font-size: 1em; */
//   padding: .625em .85em;
//   position: relative;
//   right: 50px;
//   /* padding-right: 7em; */
//   /* line-height: 1.5; */
//   margin: 18px;
//   border: 1px solid #bbb;
//   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 2px 4px rgba(0, 0, 0, 0.1);
//   border-radius: 0px;
// }
form input {
  width: 77%;
  position: relative;
  top: 200px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #faebd7;
  background-color: #10182e;
  color: #fffed8;
}
/*
Remove borders:
User input box
*/
textarea:focus, input:focus{
    outline: none;
}
*:focus {
    outline: none;
}


form button {
  /* text-decoration: none; */
  background: rgba(108, 164, 159, 0.1);
  /* height: 92%; */
  position: absolute;
  right: 41px;
  top: 18px;
  line-height: 2.6;
  // background-color: rgba(14,19,34,0.1);
  // opacity: 30%;
  /* font-size: 1em; */
  border-radius: 0 3px 3px 0;
  // border: 2px solid rgb(14,19,34);
  /* outline: 0; */
  text-align: center;
  /* margin: 0; */
  padding: 0em 2em;

  /* font-family: 'Pacifico', serif; */
}
form button:hover {
  cursor: pointer;
}

form button:disabled {
  opacity: .5;
}

// /*
//   Content Styles
// */
.wrapper {
  color: white;
  // background: #fff;
  // border: 1px solid #ccc;
  // text-align: center;
  // padding: 5em;
  // margin: .5em 0 2em;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  // border-radius: 3px;
  // left: 24px;
  // width: 50%;
  // position: relative;
}
//
// .content {
//   max-width: 512px;
//   margin: 0 auto;
//   position: relative;
//   word-wrap: break-word; /* for long sentences */
// }
//
//   .content * { /* do a simple reset on elements in .content */
//       margin: 0;
//       padding: 0;
//   }
//
//   // before element is used to create a slightly opaque white overlay on the content area
//   .content--loading:before {
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 100%;
//       background: #fff;
//       content: '';
//       opacity: .9;
//       z-index: 10;
//   }
//   // after element to display an animated loading gif inside our box.
//   .content--loading:after {
//       // content: url('.public/img/loading.gif');
//       position: absolute;
//       left: 50%;
//       top: 3em;
//       margin-left: -16px;
//       margin-top: -16px;
//       z-index: 11;
//   }
//   .content--error {
//       color: #196E76;
//   }
//   .content--error-pop {
//       -webkit-animation: pop .333s;
//       -moz-animation: pop .333s;
//       -o-animation: pop .333s;
//       animation: pop .333s;
//   }
